@charset "utf-8";

.col img {
    width: 13rem; 
    height: 10rem;
    box-shadow: 3px 4px 15px rgba(44, 44, 44, 0.5);
    margin-bottom: 1rem;
    border: 7px groove lightgray;
    transition: all 1s ease;
    transform: translate(10px, -10px);
}
.col img:hover {
    transform: rotate(360deg);
}
.row {
    margin-bottom: 1rem;
    align-items: center;
}

p {
    font-size: large;
}
.container .row .col  :first-child{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.top {
    border: 7px double lightgrey; 
    background: gray; 
    border-radius: 40%; 
    padding: 1rem 2rem 1rem 2rem;
    float: left;
    box-shadow: 2px 4px 15px gray;
    transition: all 1s ease;
    transform: translate(10px, -10px);
    font-size: larger;
    color:white;
    text-decoration-line: none;
}

.top:hover {
    color: rgb(212, 181, 205);
    transform: rotateY(360deg);

}


@media only screen and (max-width: 414px) {
    .col img {
        width: 11rem;
        height: 7rem;
    }
}

@media only screen and (min-width: 415px) and (max-width: 767px) {
    .col img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .col img {
         width: 50%;
        height: 50%;
    }
}
