@charset "utf-8";


fieldset {
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  font-weight: 300;
}


legend {
  display: flex;
  justify-content: center;
  color: #e1a8b1;
  font-family: "Dancing Script";
  font-weight: bold;
  height: 50px;
  width:auto;
}

td {
  padding: 5px;
}

#send {
  margin: 20px;
  border-color: #f0d3d8;
  border-radius: 10px; 
  padding: 5px 10px; 
  background-color: #f0d3d8; 
  width: 150px;
  color: #fff;
}

#send:hover {
  background-color: #e1a8b1; 
}

#send a {
  color: #fff;
  text-decoration: none;
  
}


#appointment {
  display: flex;
  justify-content: center;
}

.contact-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px 30px;
  font-weight: 300;
}

.contact-main a {
  color:#e1a8b1;
  text-decoration: none;
}

.contact-main a:hover {
  color:#a8e1d8;
}

::-webkit-input-placeholder { /* Chrome, Safari, Edge */
  font-weight: 300;
}

select {
  font-weight: 300;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1.5px solid #e1a8b1;
}

option {
  font-weight: 300;
}

input[type="date"] {
  font-weight: 300;
}

input {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1.5px solid #e1a8b1;
}

textarea {
  border: 1.5px solid #e1a8b1;
}