@charset "utf-8";

.col img {
    width: 20rem; 
    height: 20rem;
    box-shadow: 3px 4px 15px rgba(44, 44, 44, 0.5);
    margin-bottom: 1rem;
    border: 7px outset lightgray;
    transition: all 1s ease;
    transform: translate(10px, -10px);
}

.col img:hover {
    transform: rotate(360deg);
}

.col p{
    margin-right: 3rem;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.row {
    margin-bottom: 2rem;
    align-items: center;
}
