
/* body{
    position: relative;
} */

.dia {
    display: none;
    position: relative;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);

    width: 350px;
    height: 200px;
    border: 2px solid #e1a8b1;
    border-radius: 10px;
    text-align: center;
    line-height: 200px;
    font-size: 18px;
    color:#e1a8b1;
    background-color: #ffffff;
    z-index: 1;
    font-weight: 500;
    
}

.close {
    position: absolute;
    /* border: #e1a8b1 1px solid; */
    
    top: -42%;
    left: 93%;


}

.close a {
    text-decoration: none;
    
}

/* .close:hover {
    
    background-color: #e1a8b1;
    color: #fff;
  } */


.dia a {
    color: #e1a8b1;
    
}

.dia a:last-child{
    font-size: 22px;
    font-weight: 600;
    
}








form {
    width: 65%;
    margin: 60px auto 30px;
    color: #666060;
    font-weight: 600;
    /* display: flex;
    justify-content:space-evenly; */
    
}


fieldset {
    border: 2.5px solid #e1a8b1 !important;
    border-radius: 15px;
    position: relative;
    margin-right: 110px;
    z-index: 0;
    
}



legend {
    padding: 0px 20px !important;
    float:none;
    width:auto;
}




form fieldset div {
    /* display: flex; */
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 25px;
 
    
} 


form fieldset div div {
    padding-right: 30px;
}

form fieldset div div:last-child {
    display:flex;
    margin-top: 0px;
    margin-bottom: 0px;
}




form fieldset div select,
form fieldset div input{
    border: 2px solid #e1a8b1;
    border-radius: 5px;
}

.cinfo {
    width: 278px;
}



form fieldset div .pqtn,
form fieldset div .cpqtn{
    width: 60px;
}






button {
    width: 50px;
    height: 28px;
    background-color: #e1a8b1;
    text-align: center;
    line-height: 28px;
    border:0;
    border-radius: 10px;
    color:white;
    font-weight: 600;
}

.promptu,
.promptd {
    color:red;
}

/* .promptu {
    position: absolute;
    text-align: center;
    left: 70%;
    top: -32px;
    width: 380px;
    height: 30px;

    color:red;
    font-size: 20px;
} */

/* .promptd {
    position: absolute;
    text-align: center;
    left: 70%;
    top: -32px;
    width: 380px;
    height: 30px;

    color:red;
    font-size: 20px;
} */

.iList {
    width: 80%;
    margin: 0px auto;
    margin-top:50px;
    /* margin-bottom: 20px; */
    color: #666060;
    font-weight: 600;
    padding-left: 220px;
    

} 

.empty {
    /* width: 40%;
    margin: 0px auto; */
    text-align: center;
    margin-top:50px;
    margin-bottom: 110px;
    color: #e1a8b1;
    font-weight: 600;
    

} 


.empty span {
    display: inline-block;
    line-height: 38px;
    /* font-family: "Madimi One"; */
    font-size: 30px;
}

.empty span i {
    font-size: 38px;
    vertical-align: bottom;
    line-height: 38px;
}


.iList td {
    padding-right: 50px;
    text-align: center;
    border-bottom: 1px solid #e1a8b1;
    line-height: 40px;
    
}

.iList td a {
    text-decoration: none;
    font-size: 22px;
    color: #e1a8b1;
    vertical-align: middle;
}

.iList h3{
    padding-left: 380px;
    margin-bottom: 25px;
    /* font-family: "Dancing Script";
    font-weight: 800px; */
}


.iList h3 + tr,
.iList h3 + tr:hover{
    background-color: #e1a8b1;
    color:white;
    
}


.iList tr:hover {
    background-color: #fceff1;
}

.iList div {
    width: 80%;
    margin: 15px auto 50px;
    padding-left: 300px;  
}

.iList .esto {
    padding-left: 595px;
    font-size: 18px;
    /* font-weight: 700; */
}


.iList div input {
    width: 180px;
    height: 50px;
    font-size: 20px;
    
    background-color: #e1a8b1;
    line-height: 28px;
    border:0;
    border-radius: 10px;
    color:white;
    font-weight: 600;
    
}



